.colorheader1{
    background-color: grey;
}
.colorheader{
    background-color: blanchedalmond;
}
.logo{
    margin-left: 16%;
}
.navbar-nav{
    margin-left: 14%; 
}
.navbar{
    background-color: blanchedalmond;
}
.A{
    margin-left: 15%;
}
