.A{
    margin-left: 15%;
}
.item-info-product h4 {
    font-size: 100%;
    text-decoration: none;
	font-weight: 600;
}
.item-info-product p {
    font-size: 100%;
    text-decoration: none;
	font-weight: 600;
}
.item-info-product1 h4 {
    font-size: 150%;
    text-decoration: none;
	font-weight: 600;
}